body{
    background-color: white;
    color:black;
}

#topPanel{}
#header{
    font:"Arial Black";
    color:rgb(101, 194, 101);
    text-align: center;
}
.buttonClass{
    float: center;
    width: 10%;
    height: 10%;
    margin: 1%;
    background-color: rgb(138, 255, 173);
    border-radius: 20%;
    text-align: center;
    font: "Arial";
    color: black;
}
.buttonClass:hover{background-color:rgb(138, 255, 173);cursor: pointer;}
#button1{margin-left: 38%;}
.buttonText{margin-top:50%;}

#main{
    margin-top: 20%;
    height: 80%;
}
#cont{
    margin-left:40%;
}